.ldumpitem{
	width: 250px;
	display: inline-block;
	/*display: block;*/
	margin-right: 10px;
	margin-top: 2px;
}

.ldumpvalue{
   display: inline-table;
   /*display:inline-block! important*/
}
.analyze{
	padding: 4px 8px;
	font-size: 13px;
	width: 944px;
	font-family: simsun;
}
.cDisplay{
	/*display: inline-flex;*/
	display: inline-block;
}
.note{
	color: #c31e1e;
}
.objectitem, .enteritem{
	width: 250px;
	margin-right: 10px;
	margin-top: 2px;
}
.objectitem, .objectvalue,
.enteritem, .entervalue{
	float: left;
}