
<!doctype html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>ScanVirus - 云扫描网 - 免费在线病毒扫描</title>
	<link rel="shortcut icon" href="../static/img/mytextl.png">
	<meta name="keywords" content="云扫描,在线检测，恶意软件">
	<meta name="description" content="ScanVirus是一个免费网站">
	
	<link rel="stylesheet" href="../static/css/second.css">
	<link rel="stylesheet" href="../static/css/analyze.css">
	<link rel="stylesheet" type="text/css" href="../static/css/tabs.css">
	<link href="../static/css/bootstrap.css" rel="stylesheet" media="screen">
	<link rel="stylesheet" href="../static/css/about.css">

	<script src="../static/js/jquery1_7.js"></script>
	<script src="../static/js/bootstrap.min.js"></script>
	<script src="../static/js/jquery.form.js"></script> 

	<script type="text/javascript" src="../static/js/about.js"></script>

	
</head>
<body>

	<div class="H30"></div>

	<div class="continer">
		<!-- 标题 -->
		<div class="logo">
			<div class="logoimg">
				<a href="/">
                    <img src="../static/img/mylogo2.png" alt="首页">
				</a>
			</div>
		</div>
		
		<div class="H30"></div>
		<!-- 子标题栏 -->
		<div class="subtitle">
			<ul class="about">
				<li class="aboutItem">
					<a class="active" href="about">关于</a>
				</li>
				<li class="aboutItem">
					<a href="thanks">致谢</a>
				</li>
				<li class="aboutItem">
					<a href="private">隐私</a>
				</li>
			</ul>
		</div>

		<!-- 内容区 -->
		<div class="text">
			<div class="H30"></div>
			<div class="contentTitle">
				关于云扫描
			</div>
			
			<div class="subcontentTitle">1.什么是云扫描？</div>
			
			云扫描，是分析文件是否安全的在线网络服务。用户上传一个文件，由云扫描网返回用户扫描结果。</br></br>

			云扫描网的英文拼写为ScanVir，是“scan virus”的英文缩写，扫描病毒的意思。</br></br>

			云扫描网致力于为普通用户提供安全、可靠、快速鉴别文件是否安全的服务。</br></br>
			云扫描所支持的动态检测只能检测传统的pe文件，即.exe &nbsp; .dll &nbsp; .ocx &nbsp; .sys</br></br>

			云扫描网集中了不同的杀毒引擎，我们向提供这些引擎的杀毒软件厂商表示诚挚的感谢！
			
			<div class="H30"></div>
			<div class="subcontentTitle">2.如何上传文件？</div>
			
			用户点击“上传框”选择一个文件，然后点击“扫描”按钮，等待扫描结果即可。云扫描网会自动分析上传文件是不是病毒，并且提供可视化的扫描结果</br></br>

			<div class="H30"></div>
			<div class="subcontentTitle">3.扫描结果说明</div>
			
			云扫描网的扫描结果仅代表各个杀毒软件公司的扫描结果，这个结果有可能是误报，即把正常文件视为病毒。误报是无法避免的，但是一般说如果大部分杀毒软件都扫描出病毒，那么该文件是病毒的概率会大大增加，云扫描网只给出一个参考值。</br></br>

			云扫描网不能取代杀毒软件，云扫描网只提供基础服务，做为一个病毒的预警系统，用户上传的文件会和各个杀毒软件厂商分享，为用户提供优质的服务。</br></br>

		</div>
	</div>
	
	<!-- 页脚 -->
	<div class="foot">
		<div class="info">
			<a href="about">关于我们</a>
		</div>
		
		<div class="info">&copy;2020&nbsp;&nbsp;&nbsp;ScanVirus</div>
	</div>

</body>
</html>
