<!doctype html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>ScanVirus - 云扫描网 - 免费在线病毒扫描</title>
	<link rel="shortcut icon" href="../static/img/mytextl.png">
	<meta name="keywords" content="云扫描,在线检测，恶意软件">
	<meta name="description" content="ScanVirus是一个免费网站">
    
    <link rel="stylesheet" href="../static/css/second.css">
	<link rel="stylesheet" href="../static/css/analyze.css">
	<link rel="stylesheet" type="text/css" href="../static/css/tabs.css">
	<link rel="stylesheet" href="../static/css/bootstrap.css" media="screen">
	<link rel="stylesheet" href="../static/css/about.css">

	<script src="../static/js/jquery1_7.js"></script>
	<script src="../static/js/bootstrap.min.js"></script>
	<script src="../static/js/jquery.form.js"></script>  

	<script type="text/javascript" src="../static/js/about.js"></script>

	
</head>
<body>

	<div class="H30"></div>

	<div class="continer">
		<!-- 标题 -->
		<div class="logo">
			<div class="logoimg">
				<a href="/">
                    <img src="../static/img/mylogo2.png" alt="首页">
				</a>
			</div>
		</div>
		
		<div class="H30"></div>
		<!-- 子标题栏 -->
		<div class="subtitle">
			<li class="aboutItem">
				<a class="active" href="outcount">抱歉</a>
			</li>
		</div>

		<!-- 内容区 -->
		<div class="text">
            <div class="H30"></div>
                <div class="contentTitle">
                    抱歉
                </div>
                <div class="gensubcontentTitle">
                    亲爱的用户您好，您今天已经上传10次文件了，请明天再来。<br>
                    如果您还需要扫描，请访问www.virustotal.com

				</div>
				<div class="cell">
					<a href="https://www.virustotal.com" target="_blank" >
						<img src="../static/img/api1.png" alt="">
					</a></br>
					<span class="vircompany">virustotal </span>
				</div>
            </div>
		</div>
	</div>
	
	<!-- 页脚 -->
	<div class="foot">
		<div class="info">
			<a href="about">关于我们</a>
		</div>
		
		<div class="info">&copy;2020&nbsp;&nbsp;&nbsp;ScanVirus</div>
	</div>

</body>
</html>
